body{
background-image: url(bi.jpg);
}
div{
background-color: black;
color: white;
text-align: center;
padding: 5px;
font-size: 300%;
letter-spacing: 10px;
font-family: "Courier New", Courier, monospace, "Lucida Console";
}
.chosen{
color: blue;
}
.correct{
color: green;
}
.incorrect{
color: rad;
}
.key{
//border: 2px solid white;
//padding: 5px;
}
#qwerty{

}
#asd{

}
#zxc{

}
